/*Partie Connexion et formulaire*/
#re {
    width: 50%;
    margin: auto;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(167, 175, 119,0.85); /* 85% de transparence */
    box-shadow: 18px -15px 15px rgba(167, 175, 119,0.80);
}
#cobody {
    background-image: url(./imge/bois.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.tex{
    font-size: 1.5em;
    font-weight: bold;
}
#c{
    font-weight: bold;
    text-align: center;
}
.erreur{
    font-size: 1.3em;
    font-weight: bold;
    color: red;

}
strong{
    background-color: rgb(60, 60, 60,0.8);
}
#mise{
        margin: 2%;
    }
    #ss{
        margin: auto;
        background-color: red;
        text-align: center;
    }


    #deco {

        text-align: center;
    }
    #deco1 {
        text-align: center;
    }

/*Partie Index et suite*/

li{
    list-style-type: none;
}
a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    /*Mettre de l'écart entre les liens*/
    padding-left: 20px;
    padding-right: 20px; 
    
}

#to{
    color: rgb(156, 255, 233);
    padding-top: 1.5%;
    padding-left: 0;
    padding-right: 4%; 
    font-weight: bold;
}

.cob{
    margin-top: 5.5%;
    /*background-image: url(./imge/fut.jpg);*/
    background-size: cover;
    }

#ho{
        margin: auto;
        font-weight: bold;
    }

#boi{
    background-image: url(./imge/navboisar.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#boi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45); /* Noir avec 50% d'opacité */
    z-index: -1;
}

.card-img-top{
    max-width: 50%;
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

  }

  #ca{
    background-image: url(./imge/ca.jpg);
    background-size: cover;
  }

#Connection{
    max-width: 30%;
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.textes{
    color: white;
    font-weight: bold;
}
/*Footer*/

footer{
    background-color: rgba(0, 0, 0);
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0.5%;
    font-weight: bold;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

body{
background-color: rgb(226, 225, 169);
}


 /* les tableau */
table 
{
    margin-right: 25%;
   margin: auto; /* Centre le tableau */
   border: 2px solid green; 
   border-collapse: collapse; /* Colle les bordures entre elles */
}

th /* Les cellules d'en-tête */
{
   border: 4px solid rgb(0, 0, 0); 
   color: rgb(0, 0, 0);
   font-size: 2em;
   text-align: center; 
   padding: 5px; 

}

td /* Les valeurs */
{
   border: 3px solid rgb(0, 16, 104);
   text-align: center; /* Tous les textes des cellules seront centrés*/
   font-size: 1.2em;
   padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

tr
{
border: 2px solid black;
}

/* Page Suppression, modification et insertion*/

.coboy{
    background-image: url(./imge/cave.jpg);
    background-size: cover;
    }

.formu{
    padding-left: 15%;
    border: 2px solid white;
    border-radius: 2%;

}
.as{
    background-color: rgb(226, 225, 169) ;
    padding: 80px;
    border: 2px solid white;
    border-radius: 2%;
}

.ins{
    background-image: url(./imge/ajoutB.jpg);
    background-size: cover;
}

#sur{
    background-color: rgb(226, 225, 169) ;
    border-radius: 2%;
}
    body{
        margin-top: 5.5%;
        margin-bottom: 6%;
    }
.ti{
    text-align: center;
    font-weight: bold;
    background-color: rgb(226, 225, 169);
}
